.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.regionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.regionCard, .addCard {
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.regionCard:hover, .addCard:hover {
    transform: translateY(-12px);
}

.regionImage {
    width: 80%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.editButton, .deleteButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.editButton {
    background-color: #2196F3;
}

.deleteButton {
    background-color: #f44336;
}

.editButton:hover {
    background-color: #1976D2;
}

.deleteButton:hover {
    background-color: #d32f2f;
}

.addCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #282c34;
    font-size: 24px;
    font-weight: bold;
}


.plusSign {
    font-size: 50px;
    margin-bottom: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.saveButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #45a049;
}

.cancelButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: #d32f2f;
}
