.searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filterButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.filterButton:hover {
    background-color: #45a049;
}

.filterButton.active {
    background-color: #3e8e41; /* Darker green for the active button */
}

.sortContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sortContainer label {
    margin-right: 10px;
    font-size: 16px;
}

.orderList {
    list-style: none;
    padding: 0;
}

.orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    gap: 10px; /* Added gap between buttons */
}

.viewDetailsButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

}

.viewDetailsButton:hover {
    background-color: #45a049;
}

.statusButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.statusButton.done {
    background-color: #2196F3; /* Blue for done orders */
}

.statusButton.pending {
    background-color: #009688; /* Teal for pending orders */
}

.statusButton:hover {
    opacity: 0.8;
}
