.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    border-radius: 10px;
    max-width: 1500px;
    max-height: 550px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Makes the modal content scrollable */
    position: relative;
}

.modalHeader {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1010;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.closeButton:hover {
    background-color: #d32f2f;
}

.productList {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
    padding-top: 20px; /* Adding padding to account for the fixed header */
}

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 14px;
}

.productImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 5px;
}

.productDetails {
    text-align: center;
    font-size: 14px;
}

.removeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 12px;
}

.removeButton:hover {
    background-color: #d32f2f;
}
.buttonContainer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    z-index: 1010;
}

.addButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.addButton:hover {
    background-color: #45a049;
}

.saveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.saveButton:hover {
    background-color: #45a049;
}
